
.mdc-text-field, 
.mdc-select__surface{
	background-color: white;
}

.formgroup>*{
	margin: 16px 0;
}

.avatar-input{
	background-color: white;
	border-radius: 50%;
	padding: 16px;
	margin: 16px;
    width: 135px;
    height: 124px;
}

.no-border{
    border: 0;
}

.post-form--aside{
	margin-left: 16px; 
    width: 340px;
}

.with-border--bottom{
	border-bottom: 1px solid #eee;
}
.with-border--top{
	border-top: 1px solid #eee;
}