.sub-heading{
    font-size: 17px;
    font-weight: 400;
    color: black;
}

.title-small{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7490196078431373);
}

.title{
    font-weight: 400;
    color: rgb(84, 84, 84);
}

h4{
	margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: $app--text-color;
}