


$app--primary: #9c27b0; // Purple 500
$app--secondary: #ffab40; // Orange A200
$app--background: rgb(247, 248, 249);; // White
$app--primary-bg: white;
$app--secondary-bg: white;


$app--text-color: rgba(0, 0, 0, 0.87);



$app--primary-light: #ce93d8; // Purple 200
$ap-p-dark: #6a1b9a; // Purple 800
$app--secondary-light: #ffd180; // Orange A100
$app--secondary-dark: #ff6d00; // Orange A700
$app--primary-light-bg: #eee;
$app--primary-dark-bg: #eee;
$app--secondary-light-bg :#eee;
$app--secondary-dark-bg :#eee;